body {
  font-family: "Inconsolata", monospace, serif;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 1920px;
  min-width: 320px;
}

.title {
  font-size: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(182, 173, 173, 0.866);
}
.content {
  position: relative;
  padding: 5px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(182, 173, 173, 0.866);
}

.content-wrapper {
  padding-bottom: 10px;
  cursor: pointer;
}

.input {
  position: absolute; /*убираем оставшийся пробел*/
   -webkit-appearance: none; /*если ставить display none пропадает смысл семантической разметки */
}

.text-content {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-bottom: 5px;
}

.content-icon {
  position: absolute;
  right: 5px;
  top: 1px;
  width: 30px;
  height: 30px;
  align-self: center;
  background: url(./../img/icon/icons8-open-sign-50.png) no-repeat 50%/30px 30px;
}

.img-content {
  max-width: 350px;
  border-radius: 5px;
  display: none;
}

/*CHECKED*/
.input:checked + .content-icon {
  background: url(./../img/icon/icons8-close-window-32.png) no-repeat 50%/30px 30px;
  transition: all 0.5s ease-out;
}

.input:checked + .content-icon +.img-content {
  display: block;
  transition: all 0.5s ease-out;
}

.input:hover + .content-icon +.img-content {
  display: block;
  transition: margin-right 2s ease-in-out .5s;
}


/*MEDIA*/
@media (hover: hover) {
  .content:hover {
    color: rgb(180, 64, 11);
    background: #f78e2666;
    font-weight: bold;
    transition: 0.5s ease-out;
    border-radius: 5px;

  }
}

@media screen and (max-width: 820px) {
  .title {
    font-size: 22px;
    transition: all 1s ease-out;
    padding-bottom: 15px;
  }
  .text-content {
    font-size: 15px;
    transition: all 1s ease-out;
  }
}
@media screen and (max-width: 320px) {
  .title {
    font-size: 18px;
    transition: all 1s ease-out;
    text-align: center;
  }

  .text-content {
    font-size: 12px;
    font-weight: bold;
    transition: all 1s ease-out;
  }
}
